@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

div.background-image {
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

section.reg-form {
    width: 45%;
    height: 55%;
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;

    color: #8b8c8b;
    box-shadow: 11px 10px 12px -2px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 11px 10px 12px -2px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 11px 10px 12px -2px rgba(0, 0, 0, 0.44);
}

div.img-wrapper {


    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -5;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    letter-spacing: 1px;
}

div.img-wrapper img {
    width: 100%;
    height: 100%;
}

div.form {
    width: 45%;
    height: 100%;
    padding: 1rem 2rem;
    padding-top: 3rem;

    position: relative;
}

div.form input {
    display: block;
    padding: 0.6rem;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #8b8c8b;
}

label {
    margin-bottom: 16px;
}

div.form div.flex-names {
    display: flex;
    gap: 35px;
}

div.flex-check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

div.form input.inline-check {
    width: 10%;
    margin: 0;
    line-height: 1;
}

div.form span {
    line-height: 1;
}

button {
    background-color: #ae3c33;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

div.submit {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}