body {
    background-color: #e4e978;
    width: 700px;
}

article {
    margin: 15px 10px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
}

section {
    /* color: #5c6e91; */
    color: #4c7658;
    font-style: italic;
}